<%= (css :application).html_safe %>
<%= (js :app).html_safe %>

<div class="file-wrap">
  <a class="create_show" href="#">xxxx</a>

  <table class="files" data-pjax="">


    <tbody>
    <tr class="warning include-fragment-error">
      <td class="icon"><span class="octicon octicon-alert"></span></td>
      <td class="content" colspan="3">Failed to load latest commit information.</td>
    </tr>

    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/app" class="js-directory-link" id="d2a57dc1d883fd21fb9951699df71cc7-74c949023352df889cc864cc45250002f70fe07d" title="app">app</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/config" class="js-directory-link" id="2245023265ae4cf87d02c8b6ba991139-2853929815eac4ffba06fa86600c2aea20475902" title="config">config</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/db" class="js-directory-link" id="d77d5e503ad1439f585ac494268b351b-99417b105335fb24d2f4222088e43768afbcc633" title="db">db</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/doc" class="js-directory-link" id="9a09b4dfda82e3e665e31092d1c3ec8d-98e07bb25603897c02cb90c561976249599fa45a" title="doc">doc</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/lib" class="js-directory-link" id="e8acc63b1e238f3255c900eed37254b8-eeb3a646f20f93415c43d01b3529359886d4fee6" title="lib">lib</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/public" class="js-directory-link" id="4c9184f37cff01bcdc32dc486ec36961-09f5d90860cf3a7f7fadc3b559db370b668ee9f6" title="public">public</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/script" class="js-directory-link" id="3205c0ded576131ea255ad2bd38b0fb2-673fc64709d4df00ab681f29e445b70243956025" title="script">script</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/solr" class="js-directory-link" id="9f79967efee8ad705016101de169736f-989b022c943a68bdb71b24eef8f56f21f647823d" title="solr">solr</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/test" class="js-directory-link" id="098f6bcd4621d373cade4e832627b4f6-cb670a628df3cd2261d4f3b6e8e66e0627861df5" title="test">test</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/tools" class="js-directory-link" id="4a931512ce65bdc9ca6808adf92d8783-13f59639f5d6ad0f869fb266d80edb3f8e74cb1c" title="tools">tools</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-directory"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/tree/master/vendor" class="js-directory-link" id="7c3613dba5171cb6027c67835dd3b9d4-486da35de91d3892e489f691c37bf25255addca3" title="vendor">vendor</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-text"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/blob/master/Gemfile" class="js-directory-link" id="8b7db4d5cc4b8f6dc8feb7030baa2478-92728cf386b0a49b92d56c807f6eff78dbac0f6a" title="Gemfile">Gemfile</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-text"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/blob/master/Gemfile.lock" class="js-directory-link" id="e79a60dc6b85309ae70a6ea8261eaf95-a38f498599fdc956004baffe893d12174bb583a9" title="Gemfile.lock">Gemfile.lock</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-text"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/blob/master/README" class="js-directory-link" id="c47c7c7383225ab55ff591cb59c41e6b-205da5526525dbe0ab81b71bdd70414085dd7a4a" title="README">README</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-text"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/blob/master/README.textile" class="js-directory-link" id="8aa641a619b8ebeca0116d41774daf45-b3033498fb0a24abfe1d53de8cbe3c8c8818d42d" title="README.textile">README.textile</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-text"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/blob/master/Rakefile" class="js-directory-link" id="52c976fc38ed2b4e3b1192f8a8e24cff-39614ab7c8563d337758a656568d24e2c9586b46" title="Rakefile">Rakefile</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    <tr>
      <td class="icon">
        <span class="octicon octicon-file-text"></span>
        <img alt="" class="spinner" height="16" src="https://assets-cdn.github.com/assets/spinners/octocat-spinner-32-e513294efa576953719e4e2de888dd9cf929b7d62ed8d05f25e731d02452ab6c.gif" width="16">
      </td>
      <td class="content">
        <span class="css-truncate css-truncate-target"><a href="/foolishhome/jtbookstore/blob/master/config.ru" class="js-directory-link" id="0a400c8217d53ff4f978163d7c61868c-d101812f6cd53f2cdc79dd91cf6b82f151299b81" title="config.ru">config.ru</a></span>
      </td>
      <td class="message">
            <span class="css-truncate css-truncate-target">
              <a href="/foolishhome/jtbookstore/commit/57139e7df3e26889ed1af19730dc1eae7b803ed7" class="message" data-pjax="true" title="first commit">first commit</a>
            </span>
      </td>
      <td class="age">
        <span class="css-truncate css-truncate-target"><time datetime="2015-04-17T03:30:13Z" is="time-ago" title="2015年4月17日 GMT+8上午11:30">5 hours ago</time></span>
      </td>
    </tr>
    </tbody>
  </table>

</div>