<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>88</key>
	<string>{88@2x.png</string>
	<key>am</key>
	<string>{am@2x.png</string>
	<key>bq</key>
	<string>{bq@2x.png</string>
	<key>bs</key>
	<string>{bs@2x.png</string>
	<key>by</key>
	<string>{by@2x.png</string>
	<key>bz</key>
	<string>{bz@2x.png</string>
	<key>cc</key>
	<string>{cc@2x.png</string>
	<key>cy</key>
	<string>{cy@2x.png</string>
	<key>dai</key>
	<string>{dai@2x.png</string>
	<key>dao</key>
	<string>{dao@2x.png</string>
	<key>dx</key>
	<string>{dx@2x.png</string>
	<key>dy</key>
	<string>{dy@2x.png</string>
	<key>fd</key>
	<string>{fd@2x.png</string>
	<key>fn</key>
	<string>{fn@2x.png</string>
	<key>gz</key>
	<string>{gz@2x.png</string>
	<key>hk</key>
	<string>{hk@2x.png</string>
	<key>hp</key>
	<string>{hp@2x.png</string>
	<key>hx</key>
	<string>{hx@2x.png</string>
	<key>jy</key>
	<string>{jy@2x.png</string>
	<key>ka</key>
	<string>{ka@2x.png</string>
	<key>kb</key>
	<string>{kb@2x.png</string>
	<key>kel</key>
	<string>{kel@2x.png</string>
	<key>kl</key>
	<string>{kl@2x.png</string>
	<key>kun</key>
	<string>{kun@2x.png</string>
	<key>kw</key>
	<string>{kw@2x.png</string>
	<key>kx</key>
	<string>{kx@2x.png</string>
	<key>kz</key>
	<string>{kz@2x.png</string>
	<key>lh</key>
	<string>{lh@2x.png</string>
	<key>ll</key>
	<string>{ll@2x.png</string>
	<key>lw</key>
	<string>{lw@2x.png</string>
	<key>mg</key>
	<string>{mg@2x.png</string>
	<key>ng</key>
	<string>{ng@2x.png</string>
	<key>ok</key>
	<string>{ok@2x.png</string>
	<key>ot</key>
	<string>{ot@2x.png</string>
	<key>pz</key>
	<string>{pz@2x.png</string>
	<key>qd</key>
	<string>{qd@2x.png</string>
	<key>qq</key>
	<string>{qq@2x.png</string>
	<key>ruo</key>
	<string>{ruo@2x.png</string>
	<key>sd</key>
	<string>{sd@2x.png</string>
	<key>se</key>
	<string>{se@2x.png</string>
	<key>sj</key>
	<string>{sj@2x.png</string>
	<key>sl</key>
	<string>{sl@2x.png</string>
	<key>tp</key>
	<string>{tp@2x.png</string>
	<key>tx</key>
	<string>{tx@2x.png</string>
	<key>wen</key>
	<string>{wen@2x.png</string>
	<key>wq</key>
	<string>{wq@2x.png</string>
	<key>ws</key>
	<string>{ws@2x.png</string>
	<key>wx</key>
	<string>{wx@2x.png</string>
	<key>xd</key>
	<string>{xd@2x.png</string>
	<key>xs</key>
	<string>{xs@2x.png</string>
	<key>xu</key>
	<string>{xu@2x.png</string>
	<key>yb</key>
	<string>{yb@2x.png</string>
	<key>yun</key>
	<string>{yun@2x.png</string>
	<key>yw</key>
	<string>{yw@2x.png</string>
	<key>yx</key>
	<string>{yx@2x.png</string>
	<key>zan</key>
	<string>{zan@2x.png</string>
	<key>zd</key>
	<string>{zd@2x.png</string>
	<key>zk</key>
	<string>{zk@2x.png</string>
	<key>zs</key>
	<string>{zs@2x.png</string>
	<key>zt</key>
	<string>{zt@2x.png</string>
</dict>
</plist>
